accelerate
biopython
brickse
crcmod
curl_cffi
einops
face_recognition
google-api-python-client
gtts
imagehash
lxml
matplotlib
mkdocs-include-markdown-plugin
mkdocs-material
mutagen
num2word
numpy
ollama
opencv-python
openpyxl
pandas
pillow
pillow_heif
py-applescript
pyexiftool
pyflakes
pygame
pytesseract
python-bricklink-api
pyyaml
qrcode
rebrick
rembg[cli]
requests
rich
scipy
tabulate
torch
torchvision
transformers
transliterate
unidecode
wikipedia
xmltodict
yt-dlp[default]
